.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}
.dark-modal .close {
    color: white;
}
.light-blue-backdrop {
    background-color: #5cb3fd;
}
.parent div{
    float: left;
    clear: none;
}
th, td{
    text-align: center;
}
tr{
    /*cursor: pointer !important;*/
}
thead {
    position: sticky;
    top: -1px;
    background-color: rgb(31, 139, 78);
    z-index: 1;
    color:white
  }
.parent div img{
    float: right;
}
.container-form{
    text-align: center;
    padding-top: 15%;
    vertical-align: text-bottom;
    height: 100%;
    background-color:white;
}