<div id="main">
<div class="container" style="width:30rem; padding-top: 7rem; " id="formLogin">
    <div class="container" >
        <div class="card">
            <div class="card-header" style="text-align: center;">
                <h3>Plataforma de gestión predial</h3>
                    <img src="../assets/predio.svg" width="100" height="100" alt="predio" routerLink="/dashboard" >
            </div>
            <div class="card-body">
                <form id="form" method="post" >
                    <div class="form-group mb-2">
                        <label for="username">Email</label>
                        <input type="email" class="form-control" id="username" name="username" required placeholder="eg: user@correo.com">
                    </div>
                    <div class="form-group mb-2">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required placeholder="ej: 123456">
                        <!-- <span class="small">Entre 5 a 10 carácteres alfanuméricos</span> -->
                    </div>
                    <div class="form-group" style="text-align: center">
                        <button class="btn btn-primary" (click)="action($event);"><span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>{{textButton}}</button>
                        <br><br>
                        <div *ngIf="uri=='login'">
                            <span>does not have an account?  </span>
                            <a href="/register" routerLink="/register">Create your account here</a>
                        </div>
                        <div *ngIf="uri=='register'">
                            <span>have an account?  </span>
                            <a href="/login" routerLink="/login">Log in here</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->
</div>