<!-- DASHBOARD -->
<div class="row menu" routerLink="/dashboard">
    <div class="col-3">
        <i class="bi bi-graph-up-arrow" ></i>
        <!-- <fa-icon [icon]="faDashboard"></fa-icon> -->
    </div>
    <div class="col-9">
        <!-- <a class="nav-link" >Dashboard<i class="bi bi-caret-right"></i></a> -->
        <a class="nav-link" >Dashboard</a>
    </div>
</div>

<!-- VACUNOS -->
<div class="row menu" (click)="changeOpenLinks(1)" >
    <div class="col-3">
        <fa-icon [icon]="faCow" style="float: right;"></fa-icon>
    </div>
    <div class="col-9">
        <a class="nav-link" >Bovines
            <i [ngClass]="menus[0].open ? 'bi bi-caret-down' : 'bi bi-caret-right'"></i>
        </a>
    </div>
</div>
<div *ngIf="menus[0].open" class="row submenu">
    <ul>
       <li routerLink="/bovines" id="1"(click)="addClass(1)"><i class="fa-solid fa-list-ol"></i>List</li>
       <li routerLink="/bovines/create" id="2"(click)="addClass(2)"><i class="fa-solid fa-plus"></i>Create</li>
    </ul>
</div>

<!-- DOCUMENTOS -->
<div class="row menu" (click)="changeOpenLinks(3)">
    <div class="col-3">
        <i class="bi bi-files"></i>
    </div>
    <div class="col-9">
        <a class="nav-link" >Documents
            <i [ngClass]="menus[2].open ? 'bi bi-caret-down' : 'bi bi-caret-right'"></i>
        </a>
    </div>
</div>
<div *ngIf="menus[2].open" class="row submenu">
    <ul>
        <li routerLink="/documents" id="1"(click)="addClass(1)"><i class="fa-solid fa-list-ol"></i>List<span class="badge badge-secondary"></span></li>
       <li routerLink="/documents/create" id="2"(click)="addClass(2)"><i class="fa-solid fa-plus"></i>Create<span class="badge badge-secondary"></span></li>
    </ul>
</div>

<!-- IDENTIFICADORES -->
<div class="row menu" (click)="changeOpenLinks(6)">
    <div class="col-3">
        <i class="bi bi-postcard"></i>
    </div>
    <div class="col-9">
        <!-- <a class="nav-link" >Identificadores<i class="bi bi-caret-right"></i></a> -->
        <a class="nav-link" >Identifiers
            <i [ngClass]="menus[5].open ? 'bi bi-caret-down' : 'bi bi-caret-right'"></i>
        </a>
    </div>
</div>
<div *ngIf="menus[5].open" class="row submenu">
    <ul>
        <li routerLink="/identifiers" id="1"(click)="addClass(1)"><i class="fa-solid fa-list-ol"></i>List<span class="badge badge-secondary"></span></li>
       <li routerLink="/identifiers/create" id="2"(click)="addClass(2)"><i class="fa-solid fa-plus"></i>Create<span class="badge badge-secondary"></span></li>
    </ul>
</div>


<!-- NEGOCIOS -->
<div class="row menu" (click)="changeOpenLinks(4)">
    <div class="col-3">
        <i class="fa-solid fa-handshake-simple"></i>
    </div>
    <div class="col-9">
        <a class="nav-link" >Business
            <i [ngClass]="menus[3].open ? 'bi bi-caret-down' : 'bi bi-caret-right'"></i>
        </a>
        <!-- <a class="nav-link" >Business</a> -->
    </div>
</div>
<div *ngIf="menus[3].open" class="row submenu">
    <ul>
        <li routerLink="/business" id="1"(click)="addClass(1)"><i class="fa-solid fa-list-ol"></i>List<span class="badge badge-secondary"></span></li>
       <li routerLink="/business" id="2"(click)="addClass(2)"><i class="fa-solid fa-plus"></i>Register<span class="badge badge-secondary"></span></li>
    </ul>
</div>


<!-- TRABAJOS -->
<div class="row menu" (click)="changeOpenLinks(5)">
    <div class="col-3">
        <i class="fa-solid fa-person-digging"></i>
    </div>
    <div class="col-9">
        <a class="nav-link" >Works
            <i [ngClass]="menus[4].open ? 'bi bi-caret-down' : 'bi bi-caret-right'"></i>
        </a>
    </div>
</div>
<div *ngIf="menus[4].open" class="row submenu">
    <ul>
        <li routerLink="/works" id="1"(click)="addClass(1)"><i class="fa-solid fa-list-ol"></i>List<span class="badge badge-secondary"></span></li>
       <li routerLink="/works" id="2"(click)="addClass(2)"><i class="fa-solid fa-plus"></i>Register<span class="badge badge-secondary"></span></li>
    </ul>
</div>

<!-- TRABAJADORES -->
<div class="row menu" routerLink="/">
    <div class="col-3">
        <i class="fa-solid fa-people-group"></i>
    </div>
    <div class="col-9">
        <a class="nav-link" >Workers<span class="badge badge-secondary">PRO</span></a>
    </div>
</div>


<!-- SUMINISTROS -->
<div class="row menu" (click)="changeOpenLinks(2)">
    <div class="col-3">
        <fa-icon [icon]="faToolbox" style="float: right;"></fa-icon>
    </div>
    <div class="col-9">
        <a class="nav-link" >Inputs<span class="badge badge-secondary">PRO</span>
            <i [ngClass]="menus[1].open ? 'bi bi-caret-down' : 'bi bi-caret-right'"></i>
        </a>
    </div>
</div>
<div *ngIf="menus[1].open" class="row submenu">
    <ul>
        <li id="1"(click)="addClass(1)"><i class="fa-solid fa-syringe"></i>Medicaments<span class="badge badge-secondary">PRO</span></li>
       <li id="2"(click)="addClass(2)"><i class="fa-solid fa-screwdriver-wrench"></i>Carpentry<span class="badge badge-secondary">PRO</span></li>
    </ul>
</div>

<!-- MAQUINARIAS -->
<div class="row menu" routerLink="/">
    <div class="col-3">
        <i class="fa-solid fa-tractor"></i>
    </div>
    <div class="col-9">
        <!-- <a class="nav-link" >Identificadores<i class="bi bi-caret-right"></i></a> -->
        <a class="nav-link" >Machines<span class="badge badge-secondary">PRO</span></a>
    </div>
</div>
<!-- <div *ngIf="menus[1].open" class="row submenu">
    <ul>
        <li id="1"(click)="addClass(1)"><i class="fa-solid fa-syringe"></i>Medicaments</li>
       <li id="2"(click)="addClass(2)"><i class="fa-solid fa-screwdriver-wrench"></i>Carpentry<span class="badge badge-secondary">PRO</span></li>
    </ul>
</div> -->


<!-- Agenda -->
<div class="row menu" routerLink="/">
    <div class="col-3">
        <i class="fa-regular fa-calendar-days"></i>
    </div>
    <div class="col-9">
        <a class="nav-link" >Diary<span class="badge badge-secondary">PRO</span></a>
    </div>
</div>

<div class="row menu">
    <div class="col-3">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
    </div>
    <div class="col-9">
        <a href="logout" (click)="logout();" class="nav-link" >Exit<span class="badge badge-secondary"></span></a>
    </div>
</div>

<!-- <a id="btnLogout" href="logout" (click)="logout();" style="float: right;padding-right: 2%;"><i class="fa-solid fa-arrow-right-from-bracket"></i>Exit?</a> -->

<!-- Instalaciones
<div class="row menu" routerLink="/">
    <div class="col-3">
        <i class="fa-sharp fa-solid fa-farm"></i>
    </div>
    <div class="col-9">
        <a class="nav-link" >Dependencias<span class="badge badge-secondary">PRO</span></a>
    </div>
</div> -->

<!-- TEST -->
<!-- <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-dashboard fa-fw mr-3"></span> 
        <span class="menu-collapsed">Dashboard</span>
        <span class="submenu-icon ml-auto"></span>
    </div>
</a> -->
<!-- Submenu content -->
<!-- <div id='submenu1' class="collapse sidebar-submenu">
    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Charts</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Reports</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Tables</span>
    </a>
</div> -->