<!-- DASHBOARD -->
<div class="row menu" routerLink="/dashboard">
    <div class="col-3">
        <i class="bi bi-graph-up-arrow" ></i>
        <!-- <fa-icon [icon]="faDashboard"></fa-icon> -->
    </div>
    <div class="col-9">
        <!-- <a class="nav-link" >Dashboard<i class="bi bi-caret-right"></i></a> -->
        <a class="nav-link" >Panel de control</a>
        <!-- <ul>
            <li>Vacas</li>
            <li>Ovejas</li>
            <li>Identificadores</li>
            <li>Documentos</li>
            <li>Farmacos</li>
        </ul> -->
    </div>
</div>

<!-- VACUNOS -->
<div class="row menu" routerLink="/bovines">
    <div class="col-3">
        <fa-icon [icon]="faCow" style="float: right;"></fa-icon>
    </div>
    <div class="col-9">
        <a class="nav-link" >Ganado
            <!-- <i [ngClass]="openLink ? 'bi bi-caret-down' : 'bi bi-caret-right'"></i> -->
        </a>
    </div>
</div>
<!-- <div *ngIf="openLink" class="row submenu">
    <ul>
       <li id="1"(click)="addClass(1)">Vacunos</li>
       <li id="2"(click)="addClass(2)">Ovejas</li>
    </ul>
</div> -->

<!-- DOCUMENTOS -->
<div class="row menu" routerLink="/documents">
    <div class="col-3">
        <i class="bi bi-files"></i>
    </div>
    <div class="col-9">
        <a class="nav-link" >Documentos</a>
    </div>
</div>

<!-- IDENTIFICADORES -->
<div class="row menu" routerLink="/list">
    <div class="col-3">
        <i class="bi bi-postcard"></i>
    </div>
    <div class="col-9">
        <!-- <a class="nav-link" >Identificadores<i class="bi bi-caret-right"></i></a> -->
        <a class="nav-link" >Identificadores</a>
    </div>
</div>

<!-- SUMINISTROS -->
<div class="row menu" (click)="changeOpenLink()">
    <div class="col-3">
        <fa-icon [icon]="faToolbox" style="float: right;"></fa-icon>
    </div>
    <div class="col-9">
        <a class="nav-link" >Suministros
            <i [ngClass]="openLink ? 'bi bi-caret-down' : 'bi bi-caret-right'"></i>
        </a>
    </div>
</div>
<div *ngIf="openLink" class="row submenu">
    <ul>
        <li id="1"(click)="addClass(1)"><i class="fa-solid fa-syringe"></i>Fármacos</li>
       <li id="2"(click)="addClass(2)"><i class="fa-solid fa-screwdriver-wrench"></i>Carpintería</li>
    </ul>
</div>

<!-- MAQUINARIAS -->
<div class="row menu" routerLink="/machines">
    <div class="col-3">
        <i class="fa-solid fa-tractor"></i>
    </div>
    <div class="col-9">
        <!-- <a class="nav-link" >Identificadores<i class="bi bi-caret-right"></i></a> -->
        <a class="nav-link" >Maquinarias</a>
    </div>
</div>

<!-- NEGOCIOS -->
<div class="row menu" routerLink="/list">
    <div class="col-3">
        <i class="fa-solid fa-handshake-simple"></i>
    </div>
    <div class="col-9">
        <!-- <a class="nav-link" >Identificadores<i class="bi bi-caret-right"></i></a> -->
        <a class="nav-link" >Negocios</a>
    </div>
</div>


<!-- TRABAJOS -->
<div class="row menu" routerLink="/list">
    <div class="col-3">
        <i class="fa-solid fa-person-digging"></i>
    </div>
    <div class="col-9">
        <!-- <a class="nav-link" >Identificadores<i class="bi bi-caret-right"></i></a> -->
        <a class="nav-link" >Trabajos</a>
    </div>
</div>


<!-- TRABAJADORES -->
<div class="row menu" routerLink="/list">
    <div class="col-3">
        <i class="fa-solid fa-user-doctor"></i>
    </div>
    <div class="col-9">
        <a class="nav-link" >Trabajadores</a>
    </div>
</div>

<!-- TEST -->
<!-- <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-dashboard fa-fw mr-3"></span> 
        <span class="menu-collapsed">Dashboard</span>
        <span class="submenu-icon ml-auto"></span>
    </div>
</a> -->
<!-- Submenu content -->
<!-- <div id='submenu1' class="collapse sidebar-submenu">
    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Charts</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Reports</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Tables</span>
    </a>
</div> -->