/* li{
    margin-right: 55%;
} */
ul{
    list-style: none;
    cursor: pointer;
}
i{
    /* margin-left: 10%; */
    float:right;
}
.col-6{
    /* align-content: center;
    display: flex;
    float:center; */
    /* text-align: center; */
    cursor: pointer;
    padding-left: 20%;
    /* padding-top: 10%; */
    width: 50%;
    /* margin:auto; */
    /* margin-left: 1%; */
}
.menu{
    height: 45px;
    cursor: pointer;
    align-content:center;
}
.menu:hover {
    background-color: rgb(123, 176, 146) ; 
}
/* .menu div{
    vertical-align:center;
} */
/*.submenu{
    background-color: rgb(85, 81, 217); 
   display:flex; 
}*/
li{
    padding: 10px;
    margin-top: 10px;
}
.submenu ul{
    padding-left: 20px;
    text-align: center;
    /* vertical-align: bottom; */
}
ul li:hover{
    background-color: rgb(123, 176, 146) ;
    padding: 10px;
}
.active{
    background-color: rgb(123, 176, 146) ;;
}
li i{
    padding: 4px;
    float:left;
    margin-left: 20%;
    /* vertical-align: middle; */
    align-items: center;
}