#title{
    text-align: center;
    vertical-align: bottom;
    color: #322F2F;
    text-shadow: 2px 2px 8px gold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    font-weight:bold;
    height: 90%;
    clip-path: ellipse();

    shape-outside: ellipse();
    background-color: transparent;
}
#breadcrumb{
    /* vertical-align: bottom; */
    padding-top: 5%;
    margin-left: 1%;
    /* padding-top: 5%; */
    /* min-height: 10%;
    max-height: 10%; */
    color: #333030 !important;
} 
nav{
    color: gold !important         ;
}
#btnLogout{
    background-color: black;
}