<div class="container">
    <!-- <form #f="ngForm">
        <h3>Ingresar nuevo documento</h3>
        <div class="form-control">
            <label for="name">Nombre: </label>
            <input type="text" name="name" id="name" ngModel #name="ngModel">
        </div>
        {{f.value | json}}
    </form> -->
    <div class="container pt-4">
        <div class="card">
            <div class="card-header">
                <h3>Ingresar documento</h3>
            </div>
            <div class="card-body">
                <form id="form" #f="ngForm" method="POST" >
                    <div class="form-group mb-2">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name" ngModel #name="ngModel" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="description">Descripción</label>
                        <input type="text" class="form-control" id="description" name="description" ngModel #description="ngModel" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="type">Tipo</label>
                        <select class="form-select" name="type" id="type">
                            <option value="">Seleccione</option>
                            <option value="0">Visita técnica</option>
                            <option value="1">Individualización</option>
                            <option value="2">Compra</option>
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <label for="file">Seleccione archivo</label>
                        <input type="file" class="form-control" id="file" name="file" (change)="handleFileInput($event)">
                    </div>
                    <div class="form-group">
                        <button type="submit" (click)="registerDocument()" class="btn btn-primary">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
	</div>
</div>