<div style="height:100vh;background-color: burlywood;" class="row">
    <!-- <div id="header" class="row"></div> -->
    <!-- <div style="" class="row"> -->
        <div id="sidebar" class="col-2">
            <div id="brand" class="row">
                <img src="../assets/predio.svg" alt="predio" >
            </div>
            <div id="menu">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <div id="main" class="col-10">
            <div id="header">
                <app-navbar></app-navbar>
            </div>
            <div id="content">
                <router-outlet></router-outlet>
            </div>
        </div>
    <!-- </div> -->
</div>
