/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~bootstrap-icons/font/bootstrap-icons.css';

#sidebar{
    background-color: rgb(73, 70, 171);
}
#content{
    background-color: rgb(253, 255, 253);
}
#header{
    background-color: rgb(233, 233, 244);
    /* height: 10%; */
}
body{
    overflow-x: hidden;
    /* position:absolute; */
    height: 100vh;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
