/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~bootstrap-icons/font/bootstrap-icons.css';

#sidebar{
    /* height: 100vh; */
    background-color: rgb(31, 139, 78);
}
#content{
    background-color: rgb(253, 255, 253);
}
#header{
    background-color: rgb(233, 233, 244);
    /* height: 10%; */
}
body{
    overflow-x: hidden;
    /* position:absolute; */
    max-height: 90vh !important;
    /* max-height: 100vh; */
}
html, body { width: 100%;}
body { display:inline-block;margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
