<div style="height:90vh;background-color: burlywood;" class="row">
    <div id="sidebar" class="col-2">
        <div id="brand" class="row">
            <img src="../assets/predio.svg" alt="predio" routerLink="/dashboard" >
        </div>
        <div id="menu">
            <app-sidebar></app-sidebar>
        </div>
    </div>
    <div id="main" class="col-10">
        <div id="header">
            <app-navbar></app-navbar>
        </div>
        <div id="content">
            <router-outlet></router-outlet>
            <!-- <div class="footer">
                <app-footer></app-footer>
            </div> -->
        </div>
        <!-- <app-footer></app-footer> -->
        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div>
</div>
